<a href="https://colab.research.google.com/github/liamward26/ds1002-vhk7vr/blob/main/week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 6

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

# Pandas

## 1. Fetch and Load Data
In class we created a DataFrame using the `read_csv` method. Go to https://catalog.data.gov/dataset/electric-vehicle-population-data and download the CSV format of the "Electric Vehicle Population Data" dataset. Then upload it to Google Colab.

Load that data into a Pandas DataFrame and display the first 20 rows. Show your work.

In [25]:
# Set up pandas and populate the dataframe above using the raw data. Then continue to work with the dataframe in the questions below.
import numpy as np
import pandas as pd
EVPD = pd.read_csv("Electric_Vehicle_Population_Data.csv")

In [80]:
from pandas.core import describe
# Format a command that how many rows and columns are in this dataset

print(len(EVPD),len(EVPD.columns))

150482 17

In [54]:
# Format a command that displays every other row of records 1000 through 1999, and the columns "City", "State", "Model Year", and "Make".
print(EVPD[1000:1999:2][["City","State","Model Year","Make"]])

             City State  Model Year      Make
1000  Federal Way    WA        2022       KIA
1002    Arlington    WA        2021      JEEP
1004       Burien    WA        2018      AUDI
1006         Kent    WA        2018     TESLA
1008    Newcastle    WA        2022     TESLA
...           ...   ...         ...       ...
1990      Bothell    WA        2023       KIA
1992      Poulsbo    WA        2015     TESLA
1994     Kirkland    WA        2018  CHRYSLER
1996     Bellevue    WA        2014     TESLA
1998         Kent    WA        2023   HYUNDAI

[500 rows x 4 columns]

# 2. Cleaning/Imputing Data

In class we reviewed methods for removing duplicate rows and handling empty cell values. Download [this data set](https://github.com/nmagee/ds1002/blob/main/data/very-messy-data.csv) and upload into Google Colab.

Create another Pandas DataFrame from that data and perform the following steps.

In [66]:
# Set up pandas and populate the dataframe above using the raw data. Then continue to work with the dataframe in the questions below.
VMD = pd.read_csv("very-messy-data.csv")

In [67]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
print(VMD.duplicated().sum())

316

In [88]:
# Next, remove all duplicate rows using Python.
VMD1 = VMD.drop_duplicates()

In [96]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean such that NO empty cells remain. This method
# is called "imputation" because it fills in cells in a statistically less-impactful
# way than if they were blank.

# Show how you would update those four columns in code
VMD2 = VMD1.fillna(VMD1[["sepal_length","sepal_width","petal_length","petal_width"]].mean())

# 3. Save to a New CSV

Preserve your updated DF to a CSV file by using the method built into Pandas.
Name the output file `very-clean-data.csv` and save it to GitHub in the same directory where you will save this homework. We will review both your Colab notebook and the cleaned data file.

In [98]:
VMD2.to_csv("very-clean-data.csv")